<header class="header">
  <div class="container">
    <nav class="vertical-navbar">
      <ul>
        <h1 class="logo">Postify</h1>
        <hr class="divider">
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Followed Users</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <div class="auth-links">
        <a href="#">Login</a>
        <a href="#">Register</a>
      </div>
    </nav>
  </div>
</header>

<main class="grow flex flex-col justify-between">
  <div class="main-container">

  </div>
</main>

<footer class="footer z-20">
  <p>&copy; 2024 Postify</p>
</footer>