
<header class="header">
  <div class="container">
    <nav class="vertical-navbar">
      <ul>
        <h1 class="logo">Postify</h1>
        <hr class="divider">
        <li><a routerLink="/posts">Posts</a></li>
        @if (isLoggedIn) {
          <li><a routerLink="/notifications">Notifications</a></li>
          <li><a routerLink="/my-posts">My Posts</a></li>
          <li><a routerLink="/followed-posts">Followed Users</a></li>
          <li><a routerLink="/messages">Messages</a></li>
        }
      </ul>
      
      <div class="auth-links">
        @if (!isLoggedIn) {
          <a routerLink="/login">Login</a>
          <a routerLink="/register">Register</a>
          <a routerLink="/account">{{ username }}</a>
          <a (click)="logout()">Logout</a>
        }
      </div>
    </nav>

    <footer class="footer z-20">
      <p>&copy; 2024 Postify</p>
    </footer>
  </div>
</header>

<main class="grow flex flex-col justify-between">
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</main>
